*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
input {
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
  /* object-fit: cover; */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
